<html>
   <head>
      <title>Angular JS Forms</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.1/angular-cookies.min.js"></script>
      <script src="controller.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>

   <body style="text-align: center;font-style: italic;font-family:monospace;font-size: 130%" ng-app="meapp" ng-controller = "mecontroller">

        <div>
            <button class="btn btn-primary btn-lg btn-block" ng-click="showLogin()">Log in</button>
            <button class="btn btn-info btn-lg btn-block" ng-click="showSignup()">Sign up</button><br>
        </div>

        <div class="login" ng-hide="hideLogin">
            <h2>Log in page (mobile)</h2>
            <p>Email: <input type="text" ng-model = "user.email" ></p>
            <p>Password: <input type="password" ng-model = "user.passwd"></p>
            <button class="btn btn-primary btn-md" ng-click="login()">Log in</button>
            <button class="btn btn-default btn-md" ng-click="cancelIt()">Cancel</button><br>
          
        </div>

        <div class = "signup" ng-hide = "hideSignup">
            <h2>Sign up page (mobile)</h2>
            <p>First Name: <input type = "text" ng-model = "info.firstName" required></p>
            <p>Last Name: <input type = "text" ng-model = "info.lastName" required></p>
            <p>Birthday: <input type="date" ng-model = "info.birthday"></p>
            <p>City: <select name="city" ng-model = "info.city">
                <option value="Seattle">Seattle</option>
                <option value="Tacoma">Tacoma</option>
                <option value="Bellveue">Bellveue</option>
                <option value="Olimpic">Olimpic</option>
                </select>
            </p> 
            <p>Email: <input type="email" ng-model = "info.email" required></p>
            <p>Password: <input type="password" ng-model = "info.passwd" required></p>
            <!-- <p>Password confirm: <input type="text" ng-model = "info.confirm" required></p> -->

            <button class="btn btn-primary btn-md" ng-click="signup()">Submit</button>
            <button class="btn btn-default btn-md" ng-click="cancel()">Cancel</button><br>
            <textarea style="margin: 2vw; width:300px; height: 300px;">result: {{res|json}}</textarea>
            <br><a href="http://104.40.49.149/">Go to chat!</a>
        </div>
   </body>
</html>
