<html>
   <head>
      <title>Angular JS mobile Forms</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
      <script src="controller.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>

   <body style="text-align: center;font-style: italic;font-family:monospace;font-size: 130%">
      
      <h2>Sign up page</h2>
      <div ng-app="meapp" ng-controller = "mecontroller">
        
         <p>First Name: <input type = "text" ng-model = "info.firstName"></p>
         <p>Last Name: <input type = "text" ng-model = "info.lastName"></p>
         <p>Birthday: <input type="date" ng-model = "info.birthday"></p>
         <p>House number: <input type = "text" ng-model = "info.houseNum"></p>
         <p>Street: <input type = "text" ng-model = "info.street"></p>
         <p>City: <select name="city" ng-model = "info.city">
                <option value="Seattle">Seattle</option>
                <option value="Tacoma">Tacoma</option>
                <option value="Bellveue">Bellveue</option>
                <option value="Olimpic">Olimpic</option>
                </select>
         </p> 

         <button ng-click="submit()">Submit</button>
         <button ng-click="cancel()">Cancel</button><br>
         <textarea style="margin: 2vw; width:300px; height: 300px;">result: {{res|json}}</textarea>
         
        </div>
     
   </body>
</html>