<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Recovery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="javascript_Nan.js"></script>

</head>

<body>

<div class="jumbotron">
    <h1 class="text-center">Welcome to Info6210 chat room!</h1>

    <a href = "index.html"><input type="submit" class="btn btn-primary" value="Back to Log in"></a>



</div>

<div class="container">
    <div class="text-center" ng-app = "redis" ng-controller = "RedisCtrl">
        <h2>Get your password</h2>

        <br>
        <br>


        <div id="main_div"style="width: 30%; margin: auto;" style="display: block;">

            <h4>Enter your username (email address):</h4>

            <form onsubmit="forgotpassword()">
                <input type="text" class="form-control" placeholder="Enter your username (email)" ng-model="user.email" required><br>
                <input class="btn btn-primary" type="submit" value="Next Step">
            </form>
        </div>

        <div id="securityquestion_div" style="display: none;">
            <form style="width: 40%; margin: auto;" onsubmit="getpassword()">
                <h4>Please answer the security question in order to get your password</h4>
                <p>Security Question: <br>
                    <b>{{security_question}}</b></p>
                Your answer:<input type="text" class="form-control" placeholder="Enter your answer" ng-model="user.answer"><br><br>
                <input class="btn btn-primary" type="submit" value="Get Password"><br><br>
            </form>
        </div>

        <div id="password_div" style="display: none;">
            <p>Your password is: <br>
                <b>{{request_password}} </b></p>
            <br>
            <a href = "index.html"><input type="submit" class="btn btn-primary" value="Log in"></a>
        </div>

    </div>
</div>




</body>
</html>